.App {
  text-align: center;
}

form{
  background-color: crimson;
  display: inline-block;
  padding: 20px;
}

form label{
  display: inline-block;
  width: 150px;
}  

form div{
  margin: 10px;
}

h1{
  background-color: cyan;
  
}